recursive-include bias *.txt *.npy
recursive-include cosmologies *.txt *.npy
recursive-include mass_function *.txt *.npy
recursive-include peak_height *.txt *.npy
recursive-include plin *.txt *.npy
recursive-include pnl *.txt *.npy
recursive-include xilin *.txt *.npy
recursive-include xinl *.txt *.npy